# Node
node_modules/
.env
package-lock.json

# Playwright
playwright-report/
test-results/
*.log
*.tmp
chromium-profile/
# ignore Chrome persistent sessions (contains cached secrets)
chrome-session/
retell-session/
chrome-session-santiago@sidetool.co/

# VSCode
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
